<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>

    <title>Signup Form</title>
</head>

<body class="text-center">

<!--Header content here-->
<header class="header">
    <div th:replace="fragments/header :: header"/>
</header>

<!-- Begin page content -->
<main role="main" class="container">
    <form class="form-signin" th:object="${user}" th:action="@{/signup}" method="post">
        <a href="/login" th:href="@{/login}" class="float-right btn btn-outline-primary">Log In</a>
        <h3 class="h3 mb-3 font-weight-normal">Please Sign Up</h3>
        <fieldset>
            <div class="form-group">
                <label for="username" class="sr-only">Email address</label>
                <input class="form-control" type="email" id="username" th:field="*{username}"
                       placeholder="Email address as username" required autofocus>
            </div>
            <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <input class="form-control" type="password" id="password" th:field="*{password}"
                       placeholder="At least 6 chars with UpperCase, LowerCase, Number/SpecialChar"
                       pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                       title="at least 6 characters using UpperCase, LowerCase, Number/SpecialChar"
                       required>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" id="confirm_password" placeholder="Confirm Password" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="tel" id="phoneNumber" th:field="*{phoneNumber}" value=""
                       placeholder="Phone Number" required
                       pattern='[\(]\d{3}[\)]\d{3}[\-]\d{4}' title='Phone Number (Format: (999)999-9999)'>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Identification Key" id="key" th:field="*{identityKey}"
                       value="" class="form-control">
            </div>
            <div class="checkbox">
                <label class="small">
                    <input type="checkbox" id="terms" required>I have read and agree to the <a href="#">terms of service</a>
                </label>
            </div>
            <input class="btn btn-lg btn-primary btn-block" id="submit" value="Sign Me Up" type="submit">
        </fieldset>
    </form>

</main>

<!--Footer content here-->
<footer class="footer">
    <div class="container">
        <span class="text-muted">
        <div th:replace="fragments/footer :: footer"/>
        </span>
    </div>
</footer>

<!-- Script -->
<script type="text/javascript">
    var password = document.getElementById("password")
        , confirm_password = document.getElementById("confirm_password");

    function validatePassword(){
        if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>

</body>
</html>