<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>

    <title>Error Page</title>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body class="text-center">

<!--Header content here-->
<header class="header">
    <div th:replace="fragments/header :: header(activeTab='error')"/>
</header>

<!-- Begin page content -->
<main role="main" class="container">
    <h1 class="h3 mb-3 font-weight-normal">Temporary Error Page</h1>
    <table class="mb-3 font-weight-normal">
        <tr>
            <td>Date</td>
            <td th:text="${timestamp}"></td>
        </tr>
        <tr>
            <td>Path</td>
            <td th:text="${path}"></td>
        </tr>
        <tr>
            <td>Error</td>
            <td th:text="${error}"></td>
        </tr>
        <tr>
            <td>Status</td>
            <td th:text="${status}"></td>
        </tr>
        <tr>
            <td>Message</td>
            <td th:text="${message}"></td>
        </tr>
        <tr>
            <td>Exception</td>
            <td th:text="${exception}"></td>
        </tr>
        <tr>
            <td>Trace</td>
            <td>
                <pre th:text="${trace}"></pre>
            </td>
        </tr>
    </table>
</main>

<!--Footer content here-->
<footer class="footer">
    <div class="container">
        <div class="text-muted" th:replace="fragments/footer :: footer"></div>
    </div>
</footer>

</body>
</html>