<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <!--<link rel="icon" type="image/png" href="img/pic.png"/>-->
    <link rel="icon" type="image/png" href="img/favorite.png"/>
    <title>Extern School </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="color:Yellow; background-color: grey">

<img src="../static/img/pic.png" th:src="@{/img/pic.png}" width="50" height="50" /></a>
<center><h1  style="color: yellow;">Welcome to Extern School</h1></center>
</body>
</html>

