<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="uk">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>

    <title>Signup Form</title>
</head>

<body class="text-center">

<!--Header content here-->
<header class="header">
    <div th:replace="fragments/header :: header(activeTab='signup')"></div>
</header>

<!-- Begin page content -->
<main role="main" class="container">
    <form class="form-signin" th:object="${user}" th:action="@{/signup}" method="post" id="form">
        <a href="/login" th:href="@{/login}" class="float-right btn btn-outline-primary">Log In</a>
        <h3 class="h3 mb-3 font-weight-normal">Please Sign Up</h3>
        <input type="hidden" th:field="*{id}"/>
        <small class="text-danger" th:text="${#httpServletRequest.getParameter('error')}"
               th:unless="${#httpServletRequest.getParameter('error') == null}">
            Show some error msg
        </small>
        <fieldset>
            <div class="form-group">
                <label for="email" class="sr-only">Email</label>
                <input class="form-control" type="email" id="email" th:field="*{email}"
                       placeholder="Email as user name" required autofocus>
            </div>
            <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <input class="form-control" type="password" id="password" th:field="*{password}"
                       placeholder="Password"
                       pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                       title="at least 6 characters using UpperCase, LowerCase, Number/SpecialChar"
                       required>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" id="confirm_password" placeholder="Confirm Password" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" id="key" th:field="*{verificationKey}"
                       placeholder="Verification Key" value="" title="Provided by the school to verify users">
            </div>
            <div class="checkbox mb-3">
                <label class="small">
                    <input type="checkbox" id="terms" required>I have read and agree to the <a href="#">terms of service</a>
                </label>
            </div>
            <input class="btn btn-lg btn-primary btn-block" id="submit" value="Sign Me Up" type="submit">
        </fieldset>
    </form>

</main>

<!--Footer content here-->
<footer class="footer">
    <div class="container">
        <div class="text-muted" th:replace="fragments/footer :: footer"></div>
    </div>
</footer>

<!-- Script -->
<script type="text/javascript">
    var password = document.getElementById("password")
        , confirm_password = document.getElementById("confirm_password");

    function validatePassword(){
        if(password.value !== confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>

</body>
</html>